/*mas-sobre-mi.html*/
/*Lista*/
ul > li {
    list-style: none !important;
    list-style-type: none;
}

ul {
    padding: 0;
}


/*index.html*/
/*Presentación escrita*/
.colum-1{
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 15px;
}
.presentacion-escrita{
    background-color: rgba(75, 75, 75, .3);
    padding:15px;
    flex: none !important;
}

/*Foto de presentación*/

.foto-presentación{
    border:1px solid #fff; 
    border-radius: 10px; 
    padding:5px;
}




/*Proyectos.html*/
.main-1{
    position:relative;
    top: 50px;
    padding: 50px;
}

.tar-1, .tar-2{
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 10px;
}

/*mishabilidades.html*/

.habilidad-1{
    padding-top: 30px;
}
.habilidad-2{
    padding-top:100px
}
.habilidad-3{
    padding-top: 70px;
}
.habilidad-4{
    padding-top: 20px;
}

.img-1, .img-2, .img-3, .img-4{
    border: 1px solid #fff;
    border-radius: 10px;
}