ul > li {
    list-style: none !important;
    list-style-type: none;
}

ul {
    padding: 0;
}
.parrafo-1{
    display: flex;

}
.img-1{
    display: flex;
    justify-content: flex-end;
}

.separador{
    display: flex !important;
    flex-direction: row;
    gap: 10px !important;
}