#fondo {
    background-color: #242424;
    color: white;
  }

/*Sección 2*/

.seccion-1{
    font-size: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows:25% 25% 25% 25%;
    
}
.zzz{
    background-color: #242424;
}

.tar-1{
    top: 150px;
    grid-column-start: 2;
    grid-rows-start:2;
}
/* .tar-2{
    margin-top:150px;
    grid-column-start: 3;
    grid-rows-start: 3;
} */

/*pie de página*/
.pie-de-pagina{
    text-align: center;
    
}























