#fondo {
    background-color: #242424;
    color: white;
  }

/*Sección 2*/

.seccion-1{
    font-size: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows:25% 25% 25% 25%;
    
}


.tar-1{
    margin:150px;
    grid-column-start: 2;
    border: 1px solid blue;
}
.tar-2{
    margin:150px;
    grid-column-start: 3;
}

/*pie de página*/
.pie-de-pagina{
    background-color: #242424;
    border: 2px solid #000;
    color: #6c757d;
    text-align: center;
    
}























